.miniSelect {
  position: relative;
  font-family: Arial;
  margin: 5px;
  width: 250px;
}
.miniSelect select {
  display: none; /*hide original SELECT element:*/
}
.miniSelect-selected {
  background-color: DodgerBlue;
}
/*style the arrow inside the select element:*/
.miniSelect-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
  transition: all 0.3s;
}
/*point the arrow upwards when the select box is open (active):*/
.miniSelect-selected.active:after {
  transform: rotate(180deg);
  top: 7px;
}
/*style the items (options), including the selected item:*/
.miniSelect-items div,.miniSelect-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}
/*style items (options):*/
.miniSelect-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  max-height: 350px;
  overflow-y: auto;
}

.miniSelect-items div:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* width */
.miniSelect-items::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.miniSelect-items::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
.miniSelect-items::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

/* Handle on hover */
.miniSelect-items::-webkit-scrollbar-thumb:hover {
    background: #555; 
}