body {
	margin: 0px;
	/*padding: 0px 40px;*/
}

@media( min-width: 1px) {
	.terms {
		max-height: 250px;
	}

	.page {
		font-size: 14px;
	}
}

@media( min-width: 480px) {

}

@media( min-width: 768px) {
	.terms {
		max-height: 450px;
	}

	.page {
		font-size: 16px;
	}
}

.terms {
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #AAA;
  padding: 12px;
  font-size: 12px;
  text-align: left;
  margin-top: 15px;
}

.terms ul {
	padding-left: 20px;
}

.terms::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.terms::-webkit-scrollbar-track {
  background: #f1f1f1;
}
 
/* Handle */
.terms::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

/* Handle on hover */
.terms::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.page {
	padding: 15px;
	font-size: 1em;
	text-align: center;
}

.page .agree-box {
	margin-top: 15px;
	margin-bottom: 30px;
}

.page .msg-wrapper {
  font-weight: 600;
}

.page .question-wrapper {
	
	font-weight: 600;
}

.page .question-wrapper .no {
	color: #FF4244;
}

.page .answer-wrapper {
  margin: 25px 15px;
}

.page .answer-wrapper .answer {
  margin: 5px auto;
  border-radius: 4px;
  background-color: #E54C3C;
  padding: 4px;
  transition: all 0.3s;
  max-width: 350px;
  color: white;
  border: 1px solid #E54C3C;
}

.page .answer-wrapper .answer:hover {
	cursor: pointer;
}

.page .answer-wrapper .answer.selected {
	font-weight: 600;
  background-color: #F5F3DA;
  color: #E54C3C;
}

.page .question-no {
	display: inline-block;
	margin: 0px 10px;
	color: #E44D3C;
	font-weight: 600;
}

button:hover {
  cursor: pointer;
}

.page .pagination-wrapper button, #startSurvey {
  border-radius: 6px;
  font-size: 1.25em;
  border: 1px solid #FFB2B2;
  background-color: white;
  color: #E54C3C;
  width: 100px;
  height: 34px;
  padding: 1px 8px;
  transition: all 0.3s;
}

button.next-btn, #startSurvey {
  text-align: left;
  position: relative;
}

button .right {
  width: 10px;
  height: 10px;
  position: absolute;
  right: 12px;
  top: 4px;
}

button .right:after {
	content: "";
  position: absolute;
  width: 14px;
  height: 23px;
  border-left: 14px solid #E54C3C;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  box-sizing: border-box;
  border-radius: 4px;
  transition: all 0.3s;
}

.page .pagination-wrapper button:hover, #startSurvey:hover {
	color: white;
	background-color: #E54C3C;
}

button:hover .right:after {
	border-left: 14px solid white;
}

button.back-btn {
  text-align: right;
  position: relative;
}

button .left {
  width: 10px;
  height: 10px;
  position: absolute;
  left: -2px;
  top: 4px;
}

button .left:after {
	content: "";
  position: absolute;
  width: 14px;
  height: 23px;
  border-right: 14px solid #E54C3C;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  box-sizing: border-box;
  border-radius: 4px;
  transition: all 0.3s;
}

button:hover .left:after {
	border-right: 14px solid white;
}

.input-answer {
	width: 100%;
  max-width: 350px;
  border-radius: 4px;
  border: 1px solid #aaa;
  padding: 8px 0px;
  padding-left: 8px;
}