#formSecWrapper {
    position: relative;
    width: 100%;
    height: 210px;
}

.modal-content #doneSec, .modal-content #regSec {
  padding: 15px;
  height: 210px;
}

.modal-content #doneSec {
  display: none;
}

.form-loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #555555;
  margin: auto;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  display: none;
}

#emailInput {
  width: 100%;
  display: block;
  margin: 5px auto;
  max-width: 250px;
  border-radius: 4px;
  border: 1px solid #aaa;
  padding: 8px 0px;
  padding-left: 8px;
  box-sizing: border-box;
}

#regWorking.form-loader {
  position: static;
  transform: none;
  border: 5px solid #94E2EF;
  border-top: 5px solid #1DA1F2;
}

#followBtn:hover {
  cursor: pointer;
}

#successFollow {
  width: 200px;
  margin: auto;
  margin-top: 15px;
  border-radius: 2px;
  padding: 6px;
  font-weight: 600;
  font-size: 16px;
  -webkit-animation: appearIn 0.3s linear;
  animation: appearIn 0.3s linear;
  display: none;
}

#regButtons button, #submitBtn {
  background-color: #e54c3c;
  border: none;
  color: white;
  padding: 6px 15px;
  font-size: 18px;
  border-radius: 6px;
  width: 150px;
  margin-top: 15px;
  margin-bottom: 5px;
}

#regButtons button:hover, #submitBtn:hover {
  cursor: pointer;
  background-color: white;
  color: #e54c3c;
}